body{
    background-color: whitesmoke;
}

img{
    width: 100px;
    height: 130px;
    border-radius: 10%;
    border: solid 2px red;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    text-align: justify;
}

ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}